#header {
	background-color: rgb(30, 137, 157);
	font-size: 120%;
	text-align: right;
	height: 100px;
	color: white;
}
#header h1 {
	margin-top:0;
}
#left img {
	float:left;
}
#left {
	background-color: rgb(58, 159,178);
	width: 20%;
}
#right {
	background-color: rgb(58, 159,178);
	width: 20%;
}
#content {
	background-color: rgb(143, 212, 225);
	width: 60%;
}
#kontener {
	display: flex;
}
h3 {
	color: white;
}
